{% extends 'catalogue/base.html' %}
{% load static %}

{% block content %}
<header class="masthead">
    <div class="container my-auto">
        <div class="row align-items-center justify-content-center text-center">
            <div class="col-lg-10 align-self-end ">
                <h3 class="text-uppercase font-weight-bold">Mentions légales:</h3>
                <hr class="divider my-4"/>
                <h5> Powered by : <a href="https://www.djangoproject.com/" target="_blank">Django</a></h5>
                <hr class="divider my-4"/>
                <h5>Template Bootstrap <a href="https://blackrockdigital.github.io/startbootstrap-creative/"
                                          target="_blank">Bootstrap</a></h5>
                <hr class="divider my-4"/>
                <h5>Logo <a
                        href="https://company-82435.frontify.com/d/6Yy9WFJdtp8j/pur-beurre-style-guide#/elements-basiques/marque-et-logo"
                        target="_blank">Pur-Beurre Openclassrooms</a></h5>
                <hr class="divider my-4"/>
                <h5>Tous les icones sont issues de <a href="https://thenounproject.com" target="_blank">The Noun Project</a>
                </h5>
                <hr class="divider my-4"/>
                <h5>Photo (background) <a href="https://unsplash.com/photos/YTbFHT9_IhY" target="_blank">Greg Jeanneau</a></h5>
                <hr class="divider my-4"/>
                <h5>Photo Colette & Remy<a href="https://www.pixar.com/feature-films/ratatouille/#rat-main" target="_blank">Pixar
                    Ratatouille</a></h5>
                <hr class="divider my-4"/>
            </div>
        </div>
    </div>
</header>

{% endblock %}