{% extends 'catalogue/base.html' %}
{% load static %}

{% block content %}
<header class="masthead">
<div class="container h-50">
    <div class="row h-100 align-items-center justify-content-center text-center">
        <div class="col-lg-10 align-self-end">
            <h2 class="text-uppercase text-white font-weight-bold">Bonjour, {{ user.username }} !</h2>
            <hr class="divider my-4"/>
            <h4 class="text-uppercase text-white font-weight-bold">Votre adresse mail : {{ user.email }}</h4>
            <hr class="divider my-4"/>
        </div>
    </div>
</div>
</header>
{% endblock %}